{% extends "layout/base.html" %} {% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover align-middle">
    <thead class="table-dark text-center">
      <tr>
        <th scope="col">Target Id</th>
        <th scope="col">Healthy Status</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for target in targets %}
      <tr>
        <td class="text-center">{{ target.targetId }}</td>
        <td class="text-center">
          <span
            class="badge {% if target.health.State == 'Healthy' %}bg-success{% else %}bg-danger{% endif %}"
          >
            {{ target.health.State }}
          </span>
        </td>
        <td class="text-center">
          <span
            class="badge {% if target.status == 'Active' %}bg-primary{% else %}bg-secondary{% endif %}"
          >
            {{ target.status }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
