{% extends "layout/base.html" %} {% block content %}
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id RDS</th>
      <th scope="col">Trạng Thái</th>
      <th scope="col">URL Host</th>
      <th scope="col">Port</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Database Name</th>
      <th scope="col">Type Database</th>
      <th scope="col">Service ID</th>
      <th scope="col">Thao Tác</th>
    </tr>
  </thead>
  <tbody>
    {% for rds_service in rds_services %}
    <tr>
      <td>{{ rds_service.id }}</td>
      {% if rds_service.status == "Running" %}
      <td><span class="badge bg-success">Running</span></td>
      {% else %}
      <td><span class="badge bg-secondary">Chưa Sử Dụng</span></td>
      {% endif %}
      <td>{{ rds_service.url_host }}</td>
      <td>{{ rds_service.port }}</td>
      <td>{{ rds_service.username }}</td>
      <td>{{ rds_service.password }}</td>
      <td>{{ rds_service.database_name }}</td>
      <td>{{ rds_service.type_database }}</td>
      <td>{{ rds_service.service_id }}</td>
      <td>
        {% if rds_service.status != "Running" %}
        <button class="btn btn-primary btn-sm">Load</button>
        <button
          class="btn btn-primary btn-sm btn-danger"
          onclick="deleteRDSService({{ rds_service.id }})"
        >
          Cancle
        </button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="text-center mt-4">
  <a
    href="/blocks/{{block_id}}/rds-services-form"
    class="btn btn-success btn-lg"
    >Add New RDS</a
  >
</div>
{% endblock %}
